.footer{
    background-color: #000;
    padding: 20px 0;
    box-sizing: border-box;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footerInner{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.text{
    color: #fff;
}
.copyright {
    color: #fff;
}